<div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">内容发布</strong> / <small>官方频道</small></div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12 am-u-md-6">
        <div class="am-btn-toolbar">
          <div class="am-btn-group am-btn-group-xs">
            <button type="button" class="am-btn am-btn-default" onclick="goto('/channels/new')"><span class="am-icon-plus"></span> 新增</button>
            
            <!--<button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 保存</button>-->
            <!--<button type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span> 审核</button>-->
            <!--<button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>-->
          </div>
        </div>
      </div>
      <!--<div class="am-u-sm-12 am-u-md-3">-->
      <!--  <div class="am-form-group">-->
      <!--    <select data-am-selected="{btnSize: 'sm'}">-->
      <!--      <option value="option1">所有类别</option>-->
      <!--      <option value="option2">IT业界</option>-->
      <!--      <option value="option3">数码产品</option>-->
      <!--      <option value="option3">笔记本电脑</option>-->
      <!--      <option value="option3">平板电脑</option>-->
      <!--      <option value="option3">只能手机</option>-->
      <!--      <option value="option3">超极本</option>-->
      <!--    </select>-->
      <!--  </div>-->
      <!--</div>-->
      <div class="am-u-sm-12 am-u-md-3">
        <div class="am-input-group am-input-group-sm">
          <input type="text" class="am-form-field">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button">搜索</button>
          </span>
        </div>
      </div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12">
        <!--<form class="am-form">-->
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                <!--<th class="table-check"><input type="checkbox" /></th>-->
                <th class="table-id">ID</th>
                <th class="table-title">标题</th>
                <th class="table-type">简介</th>
                <th class="table-author am-hide-sm-only">图片</th>
                <th class="table-set">操作</th>
              </tr>
          </thead>
          <tbody>
            <% @channels.each do |channel| %>
            <tr>
              <td><%= channel.id %></td>
              <td><a href="#" onclick="goto('/channels/<%= channel.id %>')"><%= channel.title %></a></td>
              <td><a href="#" onclick="goto('/channels/<%= channel.id %>')"><%= channel.intro %></a></td>
              <td class="am-hide-sm-only">
                <%= render :partial => "shared/one_pic", :locals => { :pic => channel.picture } %>
              </td>
              <td>
                <div class="am-btn-toolbar">
                  <div class="am-btn-group am-btn-group-xs">
                    <button class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick="goto('/channels/<%= channel.id %>/edit')"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                    <br>
                    <a class="am-btn am-btn-default am-btn-xs am-hide-sm-only" href="/topics_of_channel?id=<%= channel.id %>" target="_blank"><span class="am-icon-copy"></span> 预览</a>
                    <!--<button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>-->
                    <!--<span class="am-icon-trash-o"></span>-->
                    <br>
                    <%#= link_to '  删除  ', channel, method: :delete, :class => 'am-btn am-btn-default am-btn-xs am-text-secondary',data: { confirm: '确定删除吗?' } %>
                    <a class="am-btn am-btn-default am-btn-xs am-text-secondary" data-confirm="确定删除吗?" rel="nofollow"  href="/delete_channel?id=<%= channel.id %>"> <span class="am-icon-trash-o"></span> 删除  </a>              
                  </div>
                </div>
              </td>
            </tr>
             <% end %>
          </tbody>
        </table>

<!-- 分页 -->


<%= render :partial => "shared/pagination",
:locals => { :total_page => @total_page,
             :page_num => @page_num,
             :pre_url => "/channels?id=1",
             :tips => "还没有频道"
            } %>

          
        <!--  <hr />-->
        <!--  <p>注：.....</p>-->
        <!--</form>-->
      </div>

    </div>
  </div>