<div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">内容发布</strong> / <small>官方频道</small></div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12 am-u-md-6">
        <div class="am-btn-toolbar">
          <div class="am-btn-group am-btn-group-xs">
            <button type="button" class="am-btn am-btn-default" onclick="goto('/channels/new')"><span class="am-icon-plus"></span> 新增</button>
            
            <!--<button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 保存</button>-->
            <!--<button type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span> 审核</button>-->
            <!--<button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>-->
          </div>
        </div>
      </div>
      <!--<div class="am-u-sm-12 am-u-md-3">-->
      <!--  <div class="am-form-group">-->
      <!--    <select data-am-selected="{btnSize: 'sm'}">-->
      <!--      <option value="option1">所有类别</option>-->
      <!--      <option value="option2">IT业界</option>-->
      <!--      <option value="option3">数码产品</option>-->
      <!--      <option value="option3">笔记本电脑</option>-->
      <!--      <option value="option3">平板电脑</option>-->
      <!--      <option value="option3">只能手机</option>-->
      <!--      <option value="option3">超极本</option>-->
      <!--    </select>-->
      <!--  </div>-->
      <!--</div>-->
      <div class="am-u-sm-12 am-u-md-4 am-form-inline">
        
        
        <form class="am-form-inline" role="form" id="search_form" method="post" action="/search_channels">
          <div class="am-form-group">
            <input type="text" class="am-form-field" name="keyword" id="keyword" value="<%=@keyword%>">
            <input type="hidden" name="page_num" id="page_num" value=""/>
          </div>
           <button class="am-btn am-btn-default" type="button" onclick="search_channels()">搜索</button>
        </form>
      </div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12">
        <!--<form class="am-form">-->
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                <!--<th class="table-check"><input type="checkbox" /></th>-->
                <th class="table-id">ID</th>
                <th class="table-title">标题</th>
                <th class="table-type">简介</th>
                <th class="table-author am-hide-sm-only">图片</th>
                <th class="table-set">操作</th>
              </tr>
          </thead>
          <tbody>
            <% @channels.each do |channel| %>
            <tr>
              <td><%= channel.id %></td>
              <td><a href="#" onclick="goto('/channels/<%= channel.id %>')"><%= channel.title %></a></td>
              <td><a href="#" onclick="goto('/channels/<%= channel.id %>')"><%= channel.intro %></a></td>
              <td class="am-hide-sm-only">
                <%= render :partial => "shared/one_pic", :locals => { :pic => channel.picture } %>
              </td>
              <td>
                <div class="am-btn-toolbar">
                  <div class="am-btn-group am-btn-group-xs">
                    <a class="am-btn am-btn-success am-btn-xs" onclick="goto('/channels/<%= channel.id %>/edit')"><span class="am-icon-pencil-square-o"></span>&nbsp; 编辑</a>
                    <br><br>
                    <a class="am-btn am-btn-success am-btn-xs " href="/topics_of_channel?id=<%= channel.id %>" target="_blank"><span class="am-icon-copy"></span>&nbsp; 预览</a>
                    <br><br>
                    <a class="am-btn am-btn-success am-btn-xs " data-confirm="确定删除吗?" onclick="goto('/delete_channel?id=<%= channel.id %>')"><span class="am-icon-trash"></span>&nbsp;&nbsp; 删除</a>
                    </div>
                </div>
              </td>
            </tr>
             <% end %>
          </tbody>
        </table>

<!-- 分页 -->

<% if @total_page !=0%>
	  <ul class="am-pagination">
  <% if @page_num.to_i == 0%>
	 <!--<li class="am-pagination-prev"><a href="#" style="font-size:1.2rem;">&laquo; 上一页</a></li>-->
	<% else%>
	  <li class="am-pagination-prev"><a style="font-size:1.2rem;" onclick="set_page_num('<%= @page_num.to_i - 1 %>')">&laquo; 上一页</a></li>
	<%end%>
  
  <% if @page_num.to_i == (@total_page.to_i - 1)%>
	   <!--<li class="am-pagination-next"><a style="font-size:1.2rem;" href="#">下一页 &raquo;</a></li>-->
	<% else%>
		<li class="am-pagination-next"><a style="font-size:1.2rem;" onclick="set_page_num('<%= @page_num.to_i + 1 %>')">下一页 &raquo;</a></li>
	<%end%>
	

  </ul>
  <%else%>
    <div class="am-panel-bd" >
  
   <!-- 没有数据提醒 -->
      <div class="am-g">
        <div class="am-u-sm-12 am-u-lg-12" align="center" style="font-size:1.5rem;">
          
          没有搜索到相关频道
        </div>
      </div>
    </div>
	<%end%>


          
      </div>

    </div>

<script>
  function set_page_num(page_num){
    $('#page_num').val(page_num);
    search_channels();
  }
  function search_channels(){
    //alert('1111');
    var keyword = $('#keyword').val();
    if(keyword != ''){
       search_form.submit();
    }else{
       if($('#page_num').val() == ''){
         window.location.href = "/channels"
       }else{
         window.location.href = "/channels?page_num="+$('#page_num').val();
       }
       
    }
  }
</script>