<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
    <h2 class="am-titlebar-title ">
        <%= @channel_class.title%>
    </h2>
</div>  
<div class="am-panel am-panel-default" style="border:0;">
         <div class="am-panel-bd" >
              <% @channels.each do |channel|%>
                <% cache channel do%>
                  <!--  频道正文  -->
                  
                    <div class="am-g" >
                      <div class="am-u-sm-12">
                        <article class="am-article">
                          <div class="am-article-hd">
                           
                            <h1 class="am-article-title" style="font-size:2rem;color:#4A779D;" onclick="goto('/topics_of_channel?id=<%=channel.id%>')">
                              <%= channel.title%>
                              </h1>
                            <p class="am-article-meta" >
                            <%= channel.updated_at.strftime('%Y-%m-%d %H:%M:%S').to_s%>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            童伴
                             </div>
                        
                          <div class="am-article-bd" onclick="goto('/topics_of_channel?id=<%=channel.id%>')">
                            <p class="am-article-lead"><%= channel.intro%></p>
                            
                          </div>
                        </article>
                      </div>
                    </div>
                
                  <hr data-am-widget="divider" style="color:#4A779D;" class="am-divider am-divider-default" />

                <%end%>
              <%end%>
                </div>
      <%= render :partial => "shared/pagination",
      :locals => { :total_page => @total_page,
                   :page_num => @page_num,
                   :pre_url => "/show_channels_of_class?class_id=#{@channel_class.id}",
                   :tips => "还没有文章发布，敬请期待!"
                  } %>

              
           
 </div>





