<div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">内容发布</strong> / <small>官方频道</small></div>
    </div>
<div class="am-panel am-panel-default">
  <div class="am-panel-bd">
<p>
  <strong>标题:</strong>
  <%= @channel.title %>
</p>

<p>
  <strong>简介:</strong>
  <%= @channel.intro %>
</p>
<p>
  <strong>正文预览:</strong><br>
  <%= raw(@channel.content) %>
</p>

<p>
  <strong>封面图片:</strong>
  <%=image_tag "http://" + @channel.picture.url("200x200") %>
</p>

<%= link_to '编辑', edit_channel_path(@channel),:onclick => "goto(\"/channels/#{@channel.id}/edit\")" %> |
<%= link_to '返回', channels_path %>
</div>
</div>