  <div data-am-widget="tabs"
       class="am-tabs am-tabs-d2"
       data-am-tabs-noswipe="1"
        >
      <ul class="am-tabs-nav am-cf">
        
          <% if @tab_id == '0'%>
          <li class="am-active" onclick="goto('/activities?id=0')" ><a href="#">全部</a></li>
          <% else%>
          <li class="" onclick="goto('/activities?id=0')"><a href="#">全部</a></li>
          <% end%>
          
          <% if @tab_id == '1'%>
          <li class="am-active" onclick="goto('/activities?id=1')"><a href="#">同城</a></li>
          <% else%>
          <li class="" onclick="goto('/activities?id=1')"><a href="#">同城</a></li>
          <% end%>
          
          <% if @tab_id == '2'%>
          <li class="am-active" onclick="goto('/activities?id=2')"><a href="#">性别</a></li>
          <% else%>
          <li class="" onclick="goto('/activities?id=2')"><a href="#">性别</a></li>
          <% end%>
          
          <% if @tab_id == '3'%>
          <li class="am-active" onclick="goto('/activities?id=3')"><a href="#">年龄</a></li>
          <% else%>
          <li class="" onclick="goto('/activities?id=3')"><a href="#">年龄</a></li>
          <% end%>
          
          <% if @tab_id == '4'%>
          <li class="am-active" onclick="goto('/activities?id=4')"><a href="#">兴趣</a></li>
          <% else%>
          <li class="" onclick="goto('/activities?id=4')"><a href="#">兴趣</a></li>
          <% end%>
          
      </ul>
      <div class="am-tabs-bd">
        
            <% if @tab_id == '0'%>
            <div data-tab-panel-0 class="am-tab-panel am-active">
            <%= render :partial => 'activities/user_activities', :locals => { :pre_url => "/activities?id=#{@tab_id}" ,:tips => '还没有人发布过活动，快去发布吧！'}  %>
            </div>
            <%else%>
            <div data-tab-panel-0 class="am-tab-panel">
            </div>
            <% end%>
            
            <% if @tab_id == '1'%>
            <div data-tab-panel-1 class="am-tab-panel am-active">
            <%= render :partial => 'activities/user_activities', :locals => { :pre_url => "/activities?id=#{@tab_id}" ,:tips => '还没有人发布过活动，快去发布吧！'}  %>
            </div>
            <%else%>
            <div data-tab-panel-1 class="am-tab-panel">
            </div>
            <% end%>
            
            <% if @tab_id == '2'%>
            <div data-tab-panel-2 class="am-tab-panel am-active">
            <%= render :partial => 'activities/user_activities', :locals => { :pre_url => "/activities?id=#{@tab_id}" ,:tips => '还没有人发布过活动，快去发布吧！'}  %>
            </div>
            <%else%>
            <div data-tab-panel-2 class="am-tab-panel">
            </div>
            <% end%>
            
            
            <% if @tab_id == '3'%>
            <div data-tab-panel-3 class="am-tab-panel am-active">
            <%= render :partial => 'activities/user_activities', :locals => { :pre_url => "/activities?id=#{@tab_id}" ,:tips => '还没有人发布过活动，快去发布吧！'}  %>
            </div>
            <%else%>
            <div data-tab-panel-3 class="am-tab-panel">
            </div>
            <% end%>
            
            
            <% if @tab_id == '4'%>
            <div data-tab-panel-4 class="am-tab-panel am-active">
            <%= render :partial => 'activities/user_activities', :locals => { :pre_url => "/activities?id=#{@tab_id}" ,:tips => '还没有人发布过活动，快去发布吧！'}  %>
            </div>
            <%else%>
            <div data-tab-panel-4 class="am-tab-panel">
            </div>
            <% end%>
            
            
          
      </div>
  </div>



