

  <div data-am-widget="tabs"
       class="am-tabs am-tabs-d2"
       data-am-tabs-noswipe="1"
        >
      <ul class="am-tabs-nav am-cf">
        
          <li class="" onclick="goto('/show_channels')" ><a href="#">全部</a></li>
    
          <li class="am-active" onclick="goto('/show_channel_classes')"><a href="#">频道</a></li>
         
      
      </ul>
      <div class="am-tabs-bd">
        
            <div data-tab-panel-0 class="am-tab-panel">
            <%#= render :partial => 'users/user_messages', :locals => { :pre_url => "/playmates?id=#{@tab_id}" ,:tips => '还没有人发布过消息，快去发布吧！'}  %>
            </div>
           
            <div data-tab-panel-1 class="am-tab-panel am-active">
              
              <div class="am-panel am-panel-default" style="border:0;">
                <hr>
                
                <% @channels.each do |channel|%>
                  <% cache channel do%>
                  <div class="am-panel-bd">
                  
                    <div class="am-g" onclick="goto('/show_channels_of_class?class_id=<%=channel.id%>')"> 
                      <div class="am-u-sm-2 am-u-lg-2">
                        <span class="am-show-md-down">
                          <img width="40" height="40" src="http://<%=channel.picture.url("200x200")%>"/>
                        </span>
                        <span class="am-hide-md-down">
                          <img width="80" height="80" src="http://<%=channel.picture.url("200x200")%>"/>
                        </span>
                      </div>
                      <div class="am-u-sm-10 am-u-lg-10">
                        <span class="am-show-md-down">
                          <div style="font-size: 1.5rem;"><strong><%=channel.title%></strong></div>
                          <div style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;font-size:1rem;">
                            <%=channel.intro%>
                            </div>
                        </span>
                        <span class="am-hide-md-down">
                          <div style="font-size: 1.6rem;"><strong><%=channel.title%></strong></div>
                          <div style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;font-size:1rem;">
                             <%=channel.intro%>
                            </div>
                        </span>
                      </div>
                    </div>
                  </div>
                  <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
                  <%end%>  
                <%end%>  
              </div>
              
              <!-- 分页 -->
              
              
              <%= render :partial => "shared/pagination",
              :locals => { :total_page => @total_page,
                           :page_num => @page_num,
                           :pre_url => "/show_channel_classes?id=1",
                           :tips => "还没有频道"
                          } %>

              
            </div>
            
      </div>
  </div>







