<% provide(:title, '首页') %>
<center>
      <ul class="example-orbit-content" data-orbit >
        <% @projects.each do |project| %>
        <li data-orbit-slide="headline-1" >
          
                <div class="home-body-center">
                  <h3 class="home-body-h3"><%= project.name %></h3>
                    <div class="home-ci">
                  	  <div class="tac">
                  			<div class="circliful" data-dimension="250" data-text="25.52%" data-info="年化收益率" data-width="2" data-fontsize="38" data-percent="25.52" data-fgcolor="#57b1e6 
                  			     " data-bgcolor="#ccc" data-fill="#fff">
                  			
                  			</div>
                  				<a href="projects/<%= project.id %>">
                  					<div class="home-ci-info color-an">
                  						<p>
                  							<span>年化收益率</span>
                  								<strong><%= project.yield_yearly %><em>%</em></strong>
                  								</p>
                  							<div class="home-date"><span>投资期限</span>
                  									<strong><%= project.investment_cycle %></strong>个月
                  							</div>
                  					</div>
                  				</a>
                  		</div>
                  
                  		<div class="ci-info">
                  			<span class="ci-left-box"><span class="ci-color">184</span> 人已投资</span>
                  				<span>剩余：<span class="ci-color">
                  						223.44</span> 万元
                  			</span>
                  		</div>
                  		<div class="home-btn-box">
                  			<div class="mt20">
                  				<div class="tac mb20">
                            <a class="btn-home"  href="projects/<%= project.id %>">
                              <div class="xq_btn" style="color:#fff;">查看详情</div>
                            </a>							
                          </div>
                  			</div>
                  		</div>
                  	</div>
                  </div>
                  <div class="home-btn-more"><a class="btn-more" href="projects">+ 查看更多投资</a></div>
              
        </li>
        
       <% end %>
      </ul>
</center>
<script>
$(document).ready(function() {
   $('.circliful').circliful();
});

</script>
