<% provide(:title, '登陆') %>
<div class="panel">
<%= form_for(:session, url: login_path) do |f| %>
  
  <div class="row">
    <div class="samll-12 columns">
      <div class="row collapse prefix-radius">
        <div class="field">
          <div class="small-3 columns">
            <span class="prefix">手机号</span>
          </div>
          <div class="small-9 columns">
              <%= f.text_field :mobile %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="samll-12 columns">
      <div class="row collapse prefix-radius">
        <div class="field">
          <div class="small-3 columns">
            <span class="prefix">密码</span>
          </div>
          <div class="small-9 columns">
              <%= f.password_field :password %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <div class="row">
    <div class="small-6 columns">
      <h6 class="h6_font">
      新用户<%= link_to "注册!", signup_path %>
      </h6>
    </div>
    <div class="small-6 columns">
      <h6 class="h6_font">
       <%= link_to "忘记密码", new_password_reset_path %>
      </h6>
    </div>
  </div>
 
 
 
  
  
 
  
    
    <div class="row">
      <div class="samll-12 columns" style="text-align: center; margin: 0 auto;">
       
        </br>
      </div>
    </div>
    
    <div class="row">
      <div class="samll-12 columns" style="text-align: center; margin: 0 auto;">
        <input type="submit" name="newgroup" class="button radius" style="width:80%;" value="登陆" />
      </div>
    </div>
  </div>

<% end %>
