<% provide(:title, "Log in") %>
<h1>Log in</h1>
<div class="row">
<div class="col-md-6 col-md-offset-3">
<%= form_for(:session, url: login_path) do |f| %>

<%= f.label "手机号" %>
<%= f.text_field :mobile %>

<%= f.label "密码"%>
<%= link_to "(forgot password)", new_password_reset_path %>
<%= f.password_field :password %>

<%= f.label :remember_me, class: "checkbox inline" do %>
<%= f.check_box :remember_me %>
<span>记住密码</span>
<% end %>

<%= f.submit "登陆", class: "btn btn-primary" %>
<% end %>
<p>新用户? <%= link_to "现在注册!", signup_path %></p>
</div>
</div>