<%# cache @microposts do%>





<%= stylesheet_link_tag "http://cdn.bootcss.com/animate.css/3.4.0/animate.min.css"%>
<style>
  .liked{
    color:#DD514C;
  }
</style>


<% @microposts.each do |post| %>
    <% cache post do%>
    <div class="am-panel am-panel-default" style="border:0.5;">
      <div class="am-panel-bd" >
  
   <!-- 用户信息展示 -->
      <div class="am-g">
       
      <%= render :partial => "users/user_profile_display", :locals => { :user => post.user,:time => post.created_at } %>
    
      </div>
      <br>
      <!-- 消息内容展示-->
      
      <div class="am-g" >
        <div class="am-u-sm-12">
          
           <article data-am-widget="paragraph"
           class="am-paragraph am-paragraph-default"
           style="font-size:1.3rem;"
           data-am-paragraph="{ tableScrollable: true, pureview: true }">
            <%= post.content%>
           </article>
          
        </div>
      </div>
      <br>
      
      <!-- 图片轮播 -->
      <%= cache post.message_pics do%>
      
      <% if post.message_pics.any?%>
      <div class="am-g" >
        <%= render :partial => "shared/pics_gallery", :locals => { :pics => post.message_pics } %>
      </div>
      <% end%>
      
      <%end%>
      
      <hr data-am-widget="divider" style="" class="am-divider am-divider-dotted" />
      <!-- 评论和点赞 -->
      <div class="am-g" align="center">
        <div class=" am-u-sm-4" >
          <span class="am-icon-comments-o" 
          onclick="goto('/post_comments?id=<%= post.id%>')">
            &nbsp;<%= post.post_comments.count%></span> 
        </div>
        <div class="am-u-sm-4" >
          
          <span class="am-icon-thumbs-up" id="like_<%=post.id%>"
          onclick="like('like_<%=post.id%>','<%= post.id%>','<%= post.user.id%>');">
            &nbsp;<%= post.likeds.count%>
          </span> 
         
        </div>
        <div class=" am-u-sm-4" >
          <!--<button-->
          <!--  type="button"-->
          <!--  class="am-btn am-btn-secondary"-->
          <!--  data-am-modal="{target: '#my-more'}">-->
          <!--  Actions-->
          <!--</button>-->
          <% delete_flag = '0'%>
          <% if !current_user.nil? && post.user == current_user%>
          <% delete_flag = '1'%>
          <%end%>
         <span onclick="show_modal('/show_post_likeds?post_id=<%=post.id%>','<%= delete_flag%>','/delete_micropost?id=<%=post.id%>','post')" class="am-icon-ellipsis-h" style="font-size:1.3rem;" data-am-modal="{target: '#my-more'}"> &nbsp;更多</span>
        </div>
      </div>
      
    </div>
    </div>
    <% end%>
<% end%>
 

<!-- 分页 -->

<%= render :partial => "shared/pagination",
:locals => { :total_page => @total_page,
             :page_num => @page_num,
            # :pre_url => "/playmates?id=#{@tab_id}",
             :pre_url => pre_url,
             :tips => tips } %>


<script>
  function like(id,post_id,user_id){
    //show_alert(Number(obj.innerHTML));
    //var num = obj.innerHTML.replace(/&nbsp;/g,"") ;
    //show_alert(num);
    //obj.innerHTML = "&nbsp;&nbsp;"+ (Number(num)+1)
    //obj.addClass('animated bounceOutLeft');
    //obj.className = obj.className + "animated infinite bounceIn liked";
    $.ajax({
      method: "POST",
      url: "like",
      data: {postid: post_id, to_user_id: user_id}
      })
      .done(function( msg ) {
        //show_alert(msg);
        if(msg == 'no_login'){
            show_alert("请登录后再操作");
            window.location.href = "/login";
        }else{
          var num = $('#'+id).html().replace(/&nbsp;/g,"") ;
          $('#'+id).html("&nbsp;&nbsp;"+ (Number(num)+1));
          //show_alert($('#'+id).html());
          $('#'+id).addClass(' animated bounceIn liked').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
            $(this).removeClass('animated bounceIn');
          });
          $('#'+id).attr("onclick","unlike('"+id+"','"+post_id+"','"+user_id+"');");
        }
      });
  }
  
  function unlike(id,post_id,user_id){
    //show_alert(Number(obj.innerHTML));
    //var num = obj.innerHTML.replace(/&nbsp;/g,"") ;
    //show_alert(num);
    //obj.innerHTML = "&nbsp;&nbsp;"+ (Number(num)+1)
    //obj.addClass('animated bounceOutLeft');
    //obj.className = obj.className + "animated infinite bounceIn liked";
    $.ajax({
      method: "POST",
      url: "unlike",
      data: { postid: post_id,to_user_id: user_id}
      })
      .done(function( msg ) {
        //show_alert(msg);
        if(msg == 'no_login'){
            show_alert("请登录后再操作");
            window.location.href = "/login";
        }else{
          var num = $('#'+id).html().replace(/&nbsp;/g,"") ;
          $('#'+id).html("&nbsp;&nbsp;"+ (Number(num)-1));
          //show_alert($('#'+id).html());
          $('#'+id).addClass(' animated bounceIn liked').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
            $(this).removeClass('animated bounceIn liked');
          });
          $('#'+id).attr("onclick","like('"+id+"','"+post_id+"','"+user_id+"');");
        }
      });
  }
  
</script>


