       <div class="am-u-sm-2">
            <% preurl = "hisProfile"%>
            <% pic_url = "http://threejed.b0.upaiyun.com/boy.jpg"%>
            <% if user.sex == "女孩"%>
            <!--herProfile-->
            <% preurl = "herProfile"%>
            <% pic_url = "http://threejed.b0.upaiyun.com/girl.jpg"%>
            <% end%>
            <% if !user.avatars.url.blank?%>
            
            <img class="am-circle" onclick="goto('/<%= preurl%>?id=<%= user.id%>')" width="40" height="40" src="http://<%=user.avatars.url("200")%>"/>
            <% else%>
            <img class="am-circle" onclick="goto('/<%= preurl%>?id=<%= user.id%>')" width="40" height="40" src="<%= pic_url%>"/>
            <% end%>
        
         
        </div>
        <div class="am-u-sm-7">
          
            <div style="font-size: 1.5rem;"><strong><%= user.name%></strong> &nbsp;&nbsp;<%= user.sex%>&nbsp;&nbsp;<%= user.age%>岁</div>
            <div style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;font-size:1rem;">
               <%= user.province%> &nbsp;&nbsp;<%= user.city%> &nbsp;&nbsp;<%= user.district%>  &nbsp;&nbsp;<%= user.school%>  &nbsp;&nbsp;<%= user.grade%> <br>
                
                <% if user.interests%>
                <% user.interests.split('||').each do |interest| %>
                <span class="am-badge am-badge-primary am-radius"><%= interest%></span>
                <% end%>
                <%end%>
                    
                
            </div>
          

        </div>
         <div class="am-u-sm-3 am-u-lg-3" style="font-size:1rem;">
          <%= time_ago_in_words_cn(time) %> 
         前
        </div>