<%= stylesheet_link_tag  "form.min" %>
<%= stylesheet_link_tag  "image.min" %>
<%= stylesheet_link_tag  "segment.min" %>

<% cache @good do%>

<%= form_for(@good, :url => {:action => 'upload_good_pics'}, html: {id: 'send_message' ,multipart: true }) do |f| %>
<input name="good_id" type="hidden" value="<%= @good.id%>" />
<%= render 'shared/error_messages', object: f.object %>
<div class="am-panel am-panel-default">
    <div class="am-panel-bd" >
      <!--<div class="am-g">-->
      <!--  <div class="am-u-sm-12 am-u-lg-12">-->
      <!--    <div class="ui segment">-->
      <!--      <p>-->
              <%#= @good.content %>
      <!--      </p>-->
      <!--    </div>-->
            
            
      <!--  </div>-->
      <!--</div>-->
      <!--<br>-->
      
      <div class="am-g">
        <div class="am-u-sm-12">
          
            <div class="am-form-group">
              <div class="ui tiny images">
                
                <% cache @good.good_pics do%>
                
                <% @good.good_pics.each do |pic|%>
                  <% cache pic do%>
                <img class="ui image" src="http://<%=pic.file.url("200")%>">
                
                  <% end%>
                <% end %>
                
                <%end%>
                <% if @good.good_pics.count < 9%>
                
                <div class="am-form-group am-form-file">
                  <!--<button type="button" class="am-btn am-btn-danger am-btn-sm">-->
                  <!--  <i class="am-icon-cloud-upload"></i> 选择要上传的图片</button>-->
                
                    <%= image_tag('add_64.png')%>
                    <input multiple=true type="file" name="files[]" id="good_avatars" accept="image/*" onchange="return validate();" />
                </div>
                
                <%end%>
              </div>
            </div>
          
        </div>
      </div>
       
      <!--<div class="am-g">-->
      <!--  <div class="am-u-sm-12 am-u-lg-12">-->
      <!--    <div class="am-form-group am-form-file">-->
      <!--      <button type="button" class="am-btn am-btn-danger am-btn-sm">-->
      <!--        <i class="am-icon-cloud-upload"></i> 选择要上传的图片</button>-->
      <!--        <input multiple=true type="file" name="files[]" id="good_avatars" />-->
      <!--    </div>-->
      <!--    <div id="file-list"></div>-->
      <!--  </div>-->
      <!--</div>-->
      
      
      
      <div class="am-g" align="center">
        <div class="am-u-sm-6 am-u-lg-6">
          <button type="button" class="am-btn am-btn-primary am-radius am-btn-sm" onclick="goto('/goods')" >完成</button>&nbsp;&nbsp;
         </div>
        <div class="am-u-sm-6 am-u-lg-6">
               <%= link_to '取消', @good, class: 'am-btn am-btn-primary am-radius am-btn-sm', method: :delete, data: { confirm: '退出此次编辑?' } %>
        </div>
      </div>
    </div>
</div>
<% end %>

<%end%>
<script>
 
    function validate() {
     
            document.getElementById("send_message").submit();

       
     
  }
  
</script>
