<%= form_for(@good_class) do |f| %>
  <% if @good_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@good_class.errors.count, "error") %> prohibited this good_class from being saved:</h2>

      <ul>
      <% @good_class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br>
    <%= f.number_field :parent_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
