<%# cache @microposts do%>

<%= stylesheet_link_tag "http://cdn.bootcss.com/animate.css/3.4.0/animate.min.css"%>
<style>
  .liked{
    color:#DD514C;
  }
</style>
    <% cache @micropost do%>
<div class="am-panel am-panel-default" style="border:0;">
<div class="am-panel-bd" >
  
   <!-- 用户信息展示 -->
      <div class="am-g">
        <!--<div class="am-u-sm-2 am-u-lg-2">-->
        <!--  <span class="am-show-md-down">-->
        <!--    <img width="40" height="40" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>-->
        <!--  </span>-->
        <!--  <span class="am-hide-md-down">-->
        <!--    <img width="80" height="80" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>-->
        <!--  </span>-->
        <!--</div>-->
        
        
        <%= render :partial => "users/user_profile_display", :locals => { :user => @micropost.user,:time => @micropost.created_at } %>
    
        
      </div>
      <br>
      <!-- 消息内容展示-->
      
      <div class="am-g" >
        <div class="am-u-sm-12 am-u-lg-12">
          
           <article class="am-show-md-down" data-am-widget="paragraph"
           class="am-paragraph am-paragraph-default"
           style="font-size:1.3rem;"
           data-am-paragraph="{ tableScrollable: true, pureview: true }">
            <%= @micropost.content%>
           </article>
           <article class="am-hide-md-down" data-am-widget="paragraph"
           class="am-paragraph am-paragraph-default"
           style="font-size:1.5rem;"
           data-am-paragraph="{ tableScrollable: true, pureview: true }">
            <%= @micropost.content%>
           </article>
        </div>
      </div>
      <br>
      
      <!-- 图片轮播 -->
      <%= cache @micropost.message_pics do%>
      
      <% if @micropost.message_pics.any?%>
      <div class="am-g" >
         <%= render :partial => "shared/pics_gallery", :locals => { :pics => @micropost.message_pics } %>
      </div>
      <% end%>
      
      <%end%>
      
      <br>
      <!-- 评论和点赞 -->
      <div class="am-g" align="center">
        <div class=" am-u-sm-6 am-u-lg-6" >
          <span class="am-icon-comments-o am-icon-sm" >&nbsp;&nbsp;<%=  @micropost.post_comments.count%></span> 
        </div>
        <div class="am-u-sm-6 am-u-lg-6" >
          
          
          <span class="am-icon-thumbs-up am-icon-sm" id="like_<%=@micropost.id%>"
          onclick="like('like_<%=@micropost.id%>','<%= @micropost.id%>','<%= @micropost.user.id%>');">
            &nbsp;&nbsp;<%= @micropost.likeds.count%>
          </span> 
         
        </div>
      </div>
      
    </div>
    <% end%>
</div>
<%#end%>
<!-- 评论列表区 -->
<% @post_comments.each do |comment| %>
  <% comment_user = User.find(comment.post_user_id)%>
  <% cache comment do%>
<div class="am-panel am-panel-default" style="border:0;">
    <div class="am-panel-bd">
        <div class="am-g">
          
        <%= render :partial => "users/user_profile_display", :locals => { :user => comment_user,:time => comment.created_at } %>
    
        </div>
        <br>
        <div class="am-g">
        <div class="am-u-sm-12 am-u-lg-12">
          
           <article class="am-show-md-down" data-am-widget="paragraph"
           class="am-paragraph am-paragraph-default"
           style="font-size:1.3rem;"
           data-am-paragraph="{ tableScrollable: true, pureview: true }">
            <%= raw(comment.content)%>
           </article>
           <article class="am-hide-md-down" data-am-widget="paragraph"
           class="am-paragraph am-paragraph-default"
           style="font-size:1.5rem;"
           data-am-paragraph="{ tableScrollable: true, pureview: true }">
            <%= raw(comment.content)%>
           </article>
        </div>
      </div>
        <br>
        <div class="am-g" >
        <div class="am-u-sm-12 am-u-lg-12" align="right">
          
          <button type="button"  
           class="am-btn am-btn-danger am-radius am-btn-xs"
           onclick="goto('/to_post_comment?post_id=<%= @micropost.id%>&to_user_id=<%=comment_user.id%>&reply=1')">
            回复
          </button>
           &nbsp;
           <%#= button_to '删除',delete_comment_path, method: :delete, data: { confirm: '确定删除吗?' } %>
           <% if comment.post_user_id == current_user.id || @micropost.user.id == current_user.id%>
           <%= link_to "删除", {action: 'delete_comment', id: comment.id}, {class: 'am-btn am-btn-danger am-radius am-btn-xs'} %>
           <% end %>
        </div>
      </div>
    </div>
</div>
  <%end%>
<%end%>

<!-- 评论分页 -->

<%= render :partial => "shared/pagination",
:locals => { :total_page => @total_page,
             :page_num => @page_num,
             :pre_url => "/post_comments?id=#{@micropost.id}",
             :tips => '还没有人评论过，赶紧去评论吧！' } %>
    

<div class="am-panel am-panel-default" style="border:0;">
    <div class="am-panel-bd">
        
        <div class="am-g" >
        <div class="am-u-sm-12 am-u-lg-12" align="center">
         
          <button type="button" 
                 class="am-btn am-btn-primary am-radius am-btn-sm am-btn-block"
                 onclick="goto('/to_post_comment?post_id=<%= @micropost.id%>&to_user_id=<%=@micropost.user.id%>&reply=0')">
             <span class="am-icon-comment-o" ></span>
            发评论
            </button>
           
        </div>
      </div>
    </div>
</div>




<script>
  

  function like(id,post_id,user_id){
    //show_alert(Number(obj.innerHTML));
    //var num = obj.innerHTML.replace(/&nbsp;/g,"") ;
    //show_alert(num);
    //obj.innerHTML = "&nbsp;&nbsp;"+ (Number(num)+1)
    //obj.addClass('animated bounceOutLeft');
    //obj.className = obj.className + "animated infinite bounceIn liked";
    $.ajax({
      method: "POST",
      url: "like",
      data: {postid: post_id, to_user_id: user_id}
      })
      .done(function( msg ) {
        //show_alert(msg);
        if(msg == 'no_login'){
            show_alert("请登录后再操作");
            window.location.href = "/login";
        }else{
          var num = $('#'+id).html().replace(/&nbsp;/g,"") ;
          $('#'+id).html("&nbsp;&nbsp;"+ (Number(num)+1));
          //show_alert($('#'+id).html());
          $('#'+id).addClass(' animated bounceIn liked').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
            $(this).removeClass('animated bounceIn');
          });
          $('#'+id).attr("onclick","unlike('"+id+"','"+post_id+"','"+user_id+"');");
        }
      });
  }
  
  function unlike(id,post_id,user_id){
    //show_alert(Number(obj.innerHTML));
    //var num = obj.innerHTML.replace(/&nbsp;/g,"") ;
    //show_alert(num);
    //obj.innerHTML = "&nbsp;&nbsp;"+ (Number(num)+1)
    //obj.addClass('animated bounceOutLeft');
    //obj.className = obj.className + "animated infinite bounceIn liked";
    $.ajax({
      method: "POST",
      url: "unlike",
      data: { postid: post_id,to_user_id: user_id}
      })
      .done(function( msg ) {
        //show_alert(msg);
        if(msg == 'no_login'){
            show_alert("请登录后再操作");
            window.location.href = "/login";
        }else{
          var num = $('#'+id).html().replace(/&nbsp;/g,"") ;
          $('#'+id).html("&nbsp;&nbsp;"+ (Number(num)-1));
          //show_alert($('#'+id).html());
          $('#'+id).addClass(' animated bounceIn liked').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
            $(this).removeClass('animated bounceIn liked');
          });
          $('#'+id).attr("onclick","like('"+id+"','"+post_id+"','"+user_id+"');");
        }
      });
  }
</script> 