<%# cache @microposts do%>

<%= stylesheet_link_tag "http://cdn.bootcss.com/animate.css/3.4.0/animate.min.css"%>
<style>
  .liked{
    color:#DD514C;
  }
</style>
    <% cache @micropost do%>
<div class="am-panel-bd" >
  
   <!-- 用户信息展示 -->
      <div class="am-g">
        <div class="am-u-sm-2 am-u-lg-2">
          <span class="am-show-md-down">
            <img width="40" height="40" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>
          </span>
          <span class="am-hide-md-down">
            <img width="80" height="80" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>
          </span>
        </div>
        <div class="am-u-sm-10 am-u-lg-10">
          <span class="am-show-md-down">
            <div style="font-size: 1.5rem;"><strong><%= @micropost.user.name%></strong> &nbsp;&nbsp;<%= @micropost.user.sex%>&nbsp;&nbsp;<%= @micropost.user.age%>岁</div>
            <div style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;font-size:1rem;">
               <%= @micropost.user.province%> &nbsp;&nbsp;<%= @micropost.user.city%> &nbsp;&nbsp;<%= @micropost.user.district%>  &nbsp;&nbsp;<%= @micropost.user.school%>  &nbsp;&nbsp;<%= @micropost.user.grade%> <br>
                
                <% if @micropost.user.interests%>
                <% @micropost.user.interests.split('||').each do |interest| %>
                <span class="am-badge am-badge-primary am-radius"><%= interest%></span>
                <% end%>
                <%end%>
                    
                
            </div>
          </span>
          <span class="am-hide-md-down">
                        <div style="font-size: 1.6rem;"><strong><%= @micropost.user.name%></strong> &nbsp;&nbsp;<%= @micropost.user.sex%>&nbsp;&nbsp;<%= @micropost.user.age%>岁</div>
            <div style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;font-size:1rem;">
               <%= @micropost.user.province%> &nbsp;&nbsp;<%= @micropost.user.city%> &nbsp;&nbsp;<%= @micropost.user.district%>  &nbsp;&nbsp;<%= @micropost.user.school%>  &nbsp;&nbsp;<%= @micropost.user.grade%> <br>
                
                <% if @micropost.user.interests%>
                <% @micropost.user.interests.split('||').each do |interest| %>
                <span class="am-badge am-badge-primary am-radius"><%= interest%></span>
                <% end%>
                <% end%>
                
            </div>
          </span>
        </div>
        
      </div>
      <br>
      <!-- 消息内容展示-->
      
      <div class="am-g" >
        <div class="am-u-sm-12 am-u-lg-12">
          
           <article class="am-show-md-down" data-am-widget="paragraph"
           class="am-paragraph am-paragraph-default"
           style="font-size:1.3rem;"
           data-am-paragraph="{ tableScrollable: true, pureview: true }">
            <%= @micropost.content%>
           </article>
           <article class="am-hide-md-down" data-am-widget="paragraph"
           class="am-paragraph am-paragraph-default"
           style="font-size:1.5rem;"
           data-am-paragraph="{ tableScrollable: true, pureview: true }">
            <%= @micropost.content%>
           </article>
        </div>
      </div>
      <br>
      
      <!-- 图片轮播 -->
      <%= cache @micropost.message_pics do%>
      
      <% if @micropost.message_pics.any?%>
      <div class="am-g" >
        <div class="am-u-sm-12 am-u-lg-12">
           <div class="am-slider am-slider-default" data-am-flexslider  id="demo-slider-0">
            <ul class="am-slides">
              <% @micropost.message_pics.each do |pic|%>
              <% cache pic do%> 
              <li>
                <figure data-am-widget="figure" class="am am-figure am-figure-default "   data-am-figure="{  pureview: 'true' }">
                    <img src="http://<%=pic.file.url("200")%>"
                    data-rel="http://<%=pic.file.url("400")%>" 
                    alt=""/>
                </figure>
              </li>
              <% end%>
              <%end%>
            </ul>
          </div>
        </div>
      </div>
      <% end%>
      
      <%end%>
      
      <br>
      <!-- 评论和点赞 -->
      <div class="am-g" align="center">
        <div class=" am-u-sm-6 am-u-lg-6" >
          <span class="am-icon-comments-o am-icon-sm" >&nbsp;&nbsp;<%=  @micropost.post_comments.count%></span> 
        </div>
        <div class="am-u-sm-6 am-u-lg-6" >
          
          
          <span class="am-icon-thumbs-up am-icon-sm" id="like_<%=@micropost.id%>"
          onclick="like('like_<%=@micropost.id%>','<%= @micropost.id%>','<%= @micropost.user.id%>');">
            &nbsp;&nbsp;<%= @micropost.likeds.count%>
          </span> 
         
        </div>
      </div>
      
    </div>
    <% end%>

<%#end%>
<!-- 评论列表区 -->
<% @post_comments.order("updated_at desc").each do |comment| %>
  <% comment_user = User.find(comment.post_user_id)%>
  <% cache comment do%>
<div class="am-panel am-panel-default">
    <div class="am-panel-bd">
        <div class="am-g">
        <div class="am-u-sm-2 am-u-lg-2">
          <span class="am-show-md-down">
            <img width="40" height="40" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>
          </span>
          <span class="am-hide-md-down">
            <img width="80" height="80" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>
          </span>
        </div>
        <div class="am-u-sm-7 am-u-lg-7">
          <span class="am-show-md-down">
            <div style="font-size: 1.5rem;"><strong><%= comment_user.name%></strong> &nbsp;&nbsp;<%= comment_user.sex%>&nbsp;&nbsp;<%= comment_user.age%>岁</div>
            <div style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;font-size:1rem;">
               <%= comment_user.province%> &nbsp;&nbsp;<%= comment_user.city%> &nbsp;&nbsp;<%= comment_user.district%>  &nbsp;&nbsp;<%= comment_user.school%>  &nbsp;&nbsp;<%= comment_user.grade%> <br>
                
                <% if comment_user.interests%>
                <% comment_user.interests.split('||').each do |interest| %>
                <span class="am-badge am-badge-primary am-radius"><%= interest%></span>
                <% end%>
                <%end%>
                    
                
            </div>
          </span>
          <span class="am-hide-md-down">
                        <div style="font-size: 1.6rem;"><strong><%= comment_user.name%></strong> &nbsp;&nbsp;
                        <%= comment_user.sex%>&nbsp;&nbsp;
                        <%= comment_user.age%>岁</div>
            <div style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;font-size:1rem;">
               <%= comment_user.province%> &nbsp;&nbsp;
               <%= comment_user.city%> &nbsp;&nbsp;
               <%= comment_user.district%>  &nbsp;&nbsp;
               <%= comment_user.school%>  &nbsp;&nbsp;
               <%= comment_user.grade%> <br>
                
                <% if comment_user.interests%>
                <% comment_user.interests.split('||').each do |interest| %>
                <span class="am-badge am-badge-primary am-radius"><%= interest%></span>
                <% end%>
                <% end%>
                
            </div>
          </span>
        </div>
        <div class="am-u-sm-3 am-u-lg-3" style="font-size:1rem;">
          <%= time_ago_in_words_cn(comment.created_at) %> 
         前
        </div>
      </div>
        <br>
        <div class="am-g">
        <div class="am-u-sm-12 am-u-lg-12">
          
           <article class="am-show-md-down" data-am-widget="paragraph"
           class="am-paragraph am-paragraph-default"
           style="font-size:1.3rem;"
           data-am-paragraph="{ tableScrollable: true, pureview: true }">
            <%= raw(comment.content)%>
           </article>
           <article class="am-hide-md-down" data-am-widget="paragraph"
           class="am-paragraph am-paragraph-default"
           style="font-size:1.5rem;"
           data-am-paragraph="{ tableScrollable: true, pureview: true }">
            <%= raw(comment.content)%>
           </article>
        </div>
      </div>
        <br>
        <div class="am-g" >
        <div class="am-u-sm-12 am-u-lg-12" align="right">
          
          <button type="button"  
           class="am-btn am-btn-danger am-radius am-btn-xs"
           onclick="goto('/to_post_comment?post_id=<%= @micropost.id%>&to_user_id=<%=comment_user.id%>&reply=1')">
            回复
          </button>
           &nbsp;
           <%#= button_to '删除',delete_comment_path, method: :delete, data: { confirm: '确定删除吗?' } %>
           <% if comment.post_user_id == current_user.id || @micropost.user.id == current_user.id%>
           <%= link_to "删除", {action: 'delete_comment', id: comment.id}, {class: 'am-btn am-btn-danger am-radius am-btn-xs'} %>
           <% end %>
        </div>
      </div>
    </div>
</div>
  <%end%>
<%end%>

<!-- 评论分页 -->

<% if @total_page !=0%>
	  <ul class="am-pagination">
  <% if @page_num.to_i == 0%>
	 <!--<li class="am-pagination-prev"><a href="#" style="font-size:1.2rem;">&laquo; 上一页</a></li>-->
	<% else%>
	  <li class="am-pagination-prev"><a style="font-size:1.2rem;" href="/post_comments?id=<%= @micropost.id%>&page_num=<%= @page_num.to_i - 1 %>">&laquo; 上一页</a></li>
	<%end%>
  
  <% if @page_num.to_i == (@total_page.to_i - 1)%>
	   <!--<li class="am-pagination-next"><a style="font-size:1.2rem;" href="#">下一页 &raquo;</a></li>-->
	<% else%>
		<li class="am-pagination-next"><a style="font-size:1.2rem;" href="/post_comments?id=<%= @micropost.id%>&page_num=<%= @page_num.to_i + 1 %>">下一页 &raquo;</a></li>
	<%end%>
	

  </ul>
  <%else%>
    <div class="am-panel-bd" >
  
   <!-- 没有数据提醒 -->
      <div class="am-g">
        <div class="am-u-sm-12 am-u-lg-12" align="center" style="font-size:1.5rem;">
          还没有人评论过，赶紧去评论吧！
        </div>
      </div>
    </div>
	<%end%>


<div class="am-panel am-panel-default">
    <div class="am-panel-bd">
        
        <div class="am-g" >
        <div class="am-u-sm-12 am-u-lg-12" align="center">
         
          <button type="button" 
                 class="am-btn am-btn-primary am-radius am-btn-sm am-btn-block"
                 onclick="goto('/to_post_comment?post_id=<%= @micropost.id%>&to_user_id=<%=@micropost.user.id%>&reply=0')">
             <span class="am-icon-comment-o" ></span>
            发评论
            </button>
           
        </div>
      </div>
    </div>
</div>




<script>
  

  function like(id,post_id,user_id){
    //alert(Number(obj.innerHTML));
    //var num = obj.innerHTML.replace(/&nbsp;/g,"") ;
    //alert(num);
    //obj.innerHTML = "&nbsp;&nbsp;"+ (Number(num)+1)
    //obj.addClass('animated bounceOutLeft');
    //obj.className = obj.className + "animated infinite bounceIn liked";
    $.ajax({
      method: "POST",
      url: "like",
      data: {postid: post_id, to_user_id: user_id}
      })
      .done(function( msg ) {
        //alert(msg);
        if(msg == 'no_login'){
            alert("请登录后再操作");
            window.location.href = "/login";
        }else{
          var num = $('#'+id).html().replace(/&nbsp;/g,"") ;
          $('#'+id).html("&nbsp;&nbsp;"+ (Number(num)+1));
          //alert($('#'+id).html());
          $('#'+id).addClass(' animated bounceIn liked').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
            $(this).removeClass('animated bounceIn');
          });
          $('#'+id).attr("onclick","unlike('"+id+"','"+post_id+"','"+user_id+"');");
        }
      });
  }
  
  function unlike(id,post_id,user_id){
    //alert(Number(obj.innerHTML));
    //var num = obj.innerHTML.replace(/&nbsp;/g,"") ;
    //alert(num);
    //obj.innerHTML = "&nbsp;&nbsp;"+ (Number(num)+1)
    //obj.addClass('animated bounceOutLeft');
    //obj.className = obj.className + "animated infinite bounceIn liked";
    $.ajax({
      method: "POST",
      url: "unlike",
      data: { postid: post_id,to_user_id: user_id}
      })
      .done(function( msg ) {
        //alert(msg);
        if(msg == 'no_login'){
            alert("请登录后再操作");
            window.location.href = "/login";
        }else{
          var num = $('#'+id).html().replace(/&nbsp;/g,"") ;
          $('#'+id).html("&nbsp;&nbsp;"+ (Number(num)-1));
          //alert($('#'+id).html());
          $('#'+id).addClass(' animated bounceIn liked').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
            $(this).removeClass('animated bounceIn liked');
          });
          $('#'+id).attr("onclick","like('"+id+"','"+post_id+"','"+user_id+"');");
        }
      });
  }
</script> 