<%# cache @activities do%>





<%= stylesheet_link_tag "http://cdn.bootcss.com/animate.css/3.4.0/animate.min.css"%>
<style>
  .liked{
    color:#DD514C;
  }
</style>
<% @activities.each do |activity| %>
    <% cache activity do%>
<div class="am-panel-bd" >
  
   <!-- 用户信息展示 -->
      <div class="am-g">
        <!--<div class="am-u-sm-2 am-u-lg-2">-->
        <!--  <span class="am-show-md-down">-->
        <!--    <img width="40" height="40" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>-->
        <!--  </span>-->
        <!--  <span class="am-hide-md-down">-->
        <!--    <img width="80" height="80" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>-->
        <!--  </span>-->
        <!--</div>-->
        
        
        <%= render :partial => "users/user_profile_display", :locals => { :user => activity.user,:time => activity.created_at } %>
    
        
      </div>
      <br>
  
      <!-- 图片轮播 -->
      
      <%= cache activity.activity_pics do%>
      
      <% if activity.activity_pics.any?%>
      <div class="am-g" >
       
        
        <%= render :partial => "shared/pics_gallery", :locals => { :pics => activity.activity_pics } %>
    
        
      </div>
      <% end%>
      
      <%end%>
      
     
      <br>
      
      <!-- 标题和描述展示-->
      
      <div class="am-g" >
        <div class="am-u-sm-12">
          
           <article  data-am-widget="paragraph"
           class="am-paragraph am-paragraph-default"
           style="font-size:1.3rem;"
           data-am-paragraph="{ tableScrollable: true, pureview: true }">
            <h2><font color="#D7342E"><%= activity.title%></font></h2>
             <hr data-am-widget="divider" style="color:#41BFB5;" class="am-divider am-divider-dotted" />
            <%= activity.description%>
           </article>
        </div>
      </div>
      <br>
      <hr data-am-widget="divider" style="" class="am-divider am-divider-dotted" />
      
      <!-- 评论和点赞 -->
      <div class="am-g" align="center">
        <div class="am-u-sm-4" >
          <span class="am-icon-comments-o" 
          onclick="goto('/activity_comments?id=<%= activity.id%>')">
            &nbsp;<%= activity.activity_comments.count%></span> 
            
        </div>
        <div class="am-u-sm-4" >
          
          <span class="am-icon-user" id="like_<%=activity.id%>"
           onclick="goto('/activity_comments?id=<%= activity.id%>')">
            &nbsp;<%= activity.activity_applies.count%>
          </span> 
         
          
        </div>
        <div class=" am-u-sm-4" >
          <% delete_flag = '0'%>
          <% if !current_user.nil? && activity.user == current_user%>
          <% delete_flag = '1'%>
          <%end%>
         <span onclick="show_modal('/show_activity_applies?post_id=<%=activity.id%>','<%= delete_flag%>','/delete_activity?id=<%=activity.id%>','activity')" 
         class="am-icon-ellipsis-h" style="font-size:1.3rem;" 
         data-am-modal="{target: '#my-more'}"> &nbsp;更多</span>
          
        </div>
        
      </div>
 
    </div>
<hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
    <% end%>
<% end%>

<%#end%>

<!-- 分页 -->


<%= render :partial => "shared/pagination",
:locals => { :total_page => @total_page,
             :page_num => @page_num,
             :pre_url => pre_url,
             :tips => tips
            } %>

<script>
  function like(id,activity_id,user_id){
    //show_alert(Number(obj.innerHTML));
    //var num = obj.innerHTML.replace(/&nbsp;/g,"") ;
    //show_alert(num);
    //obj.innerHTML = "&nbsp;&nbsp;"+ (Number(num)+1)
    //obj.addClass('animated bounceOutLeft');
    //obj.className = obj.className + "animated infinite bounceIn liked";
    $.ajax({
      method: "activity",
      url: "like",
      data: {activityid: activity_id, to_user_id: user_id}
      })
      .done(function( msg ) {
        //show_alert(msg);
        if(msg == 'no_login'){
            show_alert("请登录后再操作");
            window.location.href = "/login";
        }else{
          var num = $('#'+id).html().replace(/&nbsp;/g,"") ;
          $('#'+id).html("&nbsp;&nbsp;"+ (Number(num)+1));
          //show_alert($('#'+id).html());
          $('#'+id).addClass(' animated bounceIn liked').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
            $(this).removeClass('animated bounceIn');
          });
          $('#'+id).attr("onclick","unlike('"+id+"','"+activity_id+"','"+user_id+"');");
        }
      });
  }
  
  function unlike(id,activity_id,user_id){
    //show_alert(Number(obj.innerHTML));
    //var num = obj.innerHTML.replace(/&nbsp;/g,"") ;
    //show_alert(num);
    //obj.innerHTML = "&nbsp;&nbsp;"+ (Number(num)+1)
    //obj.addClass('animated bounceOutLeft');
    //obj.className = obj.className + "animated infinite bounceIn liked";
    $.ajax({
      method: "activity",
      url: "unlike",
      data: { activityid: activity_id,to_user_id: user_id}
      })
      .done(function( msg ) {
        //show_alert(msg);
        if(msg == 'no_login'){
            show_alert("请登录后再操作");
            window.location.href = "/login";
        }else{
          var num = $('#'+id).html().replace(/&nbsp;/g,"") ;
          $('#'+id).html("&nbsp;&nbsp;"+ (Number(num)-1));
          //show_alert($('#'+id).html());
          $('#'+id).addClass(' animated bounceIn liked').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
            $(this).removeClass('animated bounceIn liked');
          });
          $('#'+id).attr("onclick","like('"+id+"','"+activity_id+"','"+user_id+"');");
        }
      });
  }
</script>