<%# cache @activitys do%>
<%= stylesheet_link_tag "accordion.min"%>
<%= javascript_include_tag "accordion.min"%>
<style>
  .liked{
    color:#DD514C;
  }

  
</style>
    <% cache @activity do%>
<div class="am-panel am-panel-default" style="border:0;">
<div class="am-panel-bd" >
  
   <!-- 用户信息展示 -->
      <div class="am-g">
        <!--<div class="am-u-sm-2 am-u-lg-2">-->
        <!--  <span class="am-show-md-down">-->
        <!--    <img width="40" height="40" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>-->
        <!--  </span>-->
        <!--  <span class="am-hide-md-down">-->
        <!--    <img width="80" height="80" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>-->
        <!--  </span>-->
        <!--</div>-->
      
         <%= render :partial => "users/user_profile_display", :locals => { :user => @activity.user,:time => @activity.created_at } %>
    
        
      </div>
         <br>
      
      <!-- 图片轮播 -->
      <%= cache @activity.activity_pics do%>
      
      <% if @activity.activity_pics.any?%>
      <div class="am-g" >
          <%= render :partial => "shared/pics_gallery", :locals => { :pics => @activity.activity_pics } %>
      </div>
      <% end%>
      
      <%end%>
      
      <br>
      <!-- 消息内容展示-->
      
      <div class="am-g" >
        <div class="am-u-sm-12 am-u-lg-12">
          
           <article class="am-show-md-down" data-am-widget="paragraph"
           class="am-paragraph am-paragraph-default"
           style="font-size:1.3rem;"
           data-am-paragraph="{ tableScrollable: true, pureview: true }">
             <h2><font color="#D7342E"><%= @activity.title%></font></h2>
             <!--<hr data-am-widget="divider" style="color:#41BFB5;" class="am-divider am-divider-dotted" />-->
            <%= @activity.description%>
           </article>
           <article class="am-hide-md-down" data-am-widget="paragraph"
           class="am-paragraph am-paragraph-default"
           style="font-size:1.5rem;"
           data-am-paragraph="{ tableScrollable: true, pureview: true }">
           <h2><font color="#D7342E"><%= @activity.title%></font></h2>
             <!--<hr data-am-widget="divider" style="color:#41BFB5;" class="am-divider am-divider-dotted" />-->
            <%= @activity.description%>
           </article>
        </div>
      </div>
   
      <br>
      <!--<hr data-am-widget="divider" style="" class="am-divider am-divider-dotted" />-->
      <!-- 评论和点赞 -->
      <div class="am-g" align="center">
        <div class=" am-u-sm-6 am-u-lg-6" >
          <span class="am-icon-comments-o am-icon-sm" >&nbsp;&nbsp;<%=  @activity.activity_comments.count%></span> 
        </div>
        <div class="am-u-sm-6 am-u-lg-6" >
          
          
          <span class="am-icon-user am-icon-sm" id="like_<%=@activity.id%>">
            &nbsp;&nbsp;<%= @activity.activity_applies.count%>
          </span> 
         
        </div>
      </div>
      
    </div>
</div>
    <% end%>
<%#end%>




<div class="ui styled fluid accordion" style="border:0;">
  
  <!-- 活动详情区 -->

  <div class="title">
    <i class="dropdown icon"></i>
     活动详情
  </div>
  <div class="content">
      <div class="am-g">
        <div class="am-u-sm-4 am-u-lg-4" align="right" style="font-size:1.5rem;">
          活动地点&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;
        </div>
        <div class="am-u-sm-8 am-u-lg-8" align="left" style="font-size:1.5rem;text-align:left">
          <%= @activity.place%>
         
        </div>
      </div>
      <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />
      <div class="am-g">
        <div class="am-u-sm-4 am-u-lg-4" align="right" style="font-size:1.5rem;">
          活动时间&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;
        </div>
        <div class="am-u-sm-8 am-u-lg-8" align="left" style="font-size:1.5rem;text-align:left">
          <%= @activity.starttime.strftime("%Y-%m-%d %H:%M:%S") %><br>
           至<br>
          <%= @activity.endtime.strftime("%Y-%m-%d %H:%M:%S") %>
          
         
        </div>
      </div>
      <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />
      <div class="am-g">
        <div class="am-u-sm-4 am-u-lg-4" align="right" style="font-size:1.5rem;">
          活动人数&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;
        </div>
        <div class="am-u-sm-8 am-u-lg-8" align="left" style="font-size:1.5rem;text-align:left">
         <%= @activity.number_of_people%>&nbsp;&nbsp;人
         
        </div>
      </div>
      <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />
      <div class="am-g">
        <div class="am-u-sm-4 am-u-lg-4" align="right" style="font-size:1.5rem;">
          报名上限&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;
        </div>
        <div class="am-u-sm-8 am-u-lg-8" align="left" style="font-size:1.5rem;text-align:left">
         <%= @activity.apply_up_limit%>&nbsp;&nbsp;人
         
        </div>
      </div>
      <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />
      <div class="am-g">
        <div class="am-u-sm-4 am-u-lg-4" align="right" style="font-size:1.5rem;">
          费用类型&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;
        </div>
        <div class="am-u-sm-8 am-u-lg-8" align="left" style="font-size:1.5rem;text-align:left">
         <%= @activity.pay_type%>
         
        </div>
      </div>
      <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />
      <% if @activity.pay_type == 'AA'%>
      <div class="am-g">
        <div class="am-u-sm-4 am-u-lg-4" align="right" style="font-size:1.5rem;">
          人均费用&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;
        </div>
        <div class="am-u-sm-8 am-u-lg-8" align="left" style="font-size:1.5rem;text-align:left">
         <%= @activity.average_cost%>&nbsp;&nbsp;元
         
        </div>
      </div>
      <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />
      <%end%>
      <div class="am-g">
        <div class="am-u-sm-4 am-u-lg-4" align="right" style="font-size:1.5rem;">
          联系方式&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;
        </div>
        <div class="am-u-sm-8 am-u-lg-8" align="left" style="font-size:1.5rem;text-align:left">
         <%= @activity.user.mobile%>
         
        </div>
      </div>
      <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />
      <% if @activity.tags%>
      <div class="am-g">
        <div class="am-u-sm-4 am-u-lg-4" align="right" style="font-size:1.5rem;">
          活动标签&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;
        </div>
        <div class="am-u-sm-8 am-u-lg-8" align="left" style="font-size:1.5rem;text-align:left">
               <% if @activity.tags%>
                <% @activity.tags.split('||').each do |tag| %>
                <span class="am-badge <%=get_badge_style%> am-radius"><%= tag%></span>
                <% end%>
                <%end%>
         
        </div>
      </div>
      <%end%>
      
  </div>
  
  <!-- 报名列表区 -->
  <div class="title">
    <i class="dropdown icon"></i>
    报名列表
  </div>
  <div class="content">
     <ul data-am-widget="gallery" class="am-gallery am-avg-sm-5
  am-avg-md-3 am-avg-lg-4 am-gallery-imgbordered" data-am-gallery="{  }" >
      
      <% @activity.activity_applies.each do |apply|  %>
      <% applyd_user = User.find(apply.apply_user_id)%>
      <% cache applyd_user do%>
      <li>
        <div class="am-gallery-item" align="center">
            <a href="javascript:void(0);" class="">
                 <% pic_url = "http://threejed.b0.upaiyun.com/boy.jpg"%>
                  <% if applyd_user.sex == "女孩"%>
                  <% pic_url = "http://threejed.b0.upaiyun.com/girl.jpg"%>
                  <% end%>
              <% if !applyd_user.avatars.url.blank?%>
              <img width="40" height="40" src="http://<%=applyd_user.avatars.url("200")%>"/>
              <% else%>
              <img width="40" height="40" src="<%= pic_url%>" />
              <% end%>
              
              <h3 class="am-gallery-title"><strong><%= applyd_user.name%></strong> 
              <div class="am-gallery-desc" style="font-size:1rem;"> <%= time_ago_in_words_cn(apply.created_at) %> 
         前
         <% if logged_in? && applyd_user==current_user%>
          <br>
          <button type="button"  
           class="am-btn am-btn-danger am-radius am-btn-xs" 
           onclick="goto('/cancel_activity_apply?apply_id=<%= apply.id%>')">
            取消
          </button>
         <%end%>
         </div>
            </a>
        </div>
      </li>
      <%end%>
      <%end%>
      
    
     
    
     
  </ul>
  
     <!-- 没有报名提醒 -->
  <% if @activity.activity_applies.empty? %>
    <div class="am-g">
        <div class="am-u-sm-12 am-u-lg-12" align="center" style="font-size:1.5rem;">
          还没有人报名，赶紧去报名吧！
          <br>
         
        </div>
      </div>
  <% end%>
  
  </div>
  
<!-- 评论列表区 -->

  <div class="title">
    <i class="dropdown icon"></i>
    评论列表
  </div>
  <div class="content">
    <% @activity_comments.each do |comment| %>
      <% comment_user = User.find(comment.post_user_id)%>
      <% cache comment do%>
    <div class="am-panel am-panel-default">
        <div class="am-panel-bd">
            <div class="am-g">
            <!--<div class="am-u-sm-2 am-u-lg-2">-->
            <!--  <span class="am-show-md-down">-->
            <!--    <img width="40" height="40" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>-->
            <!--  </span>-->
            <!--  <span class="am-hide-md-down">-->
            <!--    <img width="80" height="80" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>-->
            <!--  </span>-->
            <!--</div>-->
            
            <%= render :partial => "users/user_profile_display", :locals => { :user => comment_user,:time => comment.created_at } %>
    
            
          </div>
           <br>
            <div class="am-g">
            <div class="am-u-sm-12 am-u-lg-12">
              
               <article class="am-show-md-down" data-am-widget="paragraph"
               class="am-paragraph am-paragraph-default"
               style="font-size:1.3rem;"
               data-am-paragraph="{ tableScrollable: true, pureview: true }">
                <%= raw(comment.content)%>
               </article>
               <article class="am-hide-md-down" data-am-widget="paragraph"
               class="am-paragraph am-paragraph-default"
               style="font-size:1.5rem;"
               data-am-paragraph="{ tableScrollable: true, pureview: true }">
                <%= raw(comment.content)%>
               </article>
            </div>
          </div>
            <br>
            <div class="am-g" >
            <div class="am-u-sm-12 am-u-lg-12" align="right">
              
              <button type="button"  
               class="am-btn am-btn-danger am-radius am-btn-xs"
               onclick="goto('/to_activity_comment?post_id=<%= @activity.id%>&to_user_id=<%=comment_user.id%>&reply=1')">
                回复
              </button>
               &nbsp;
               <%#= button_to '删除',delete_comment_path, method: :delete, data: { confirm: '确定删除吗?' } %>
               <% if logged_in? && (comment.post_user_id == current_user.id || @activity.user.id == current_user.id)%>
               <%= link_to "删除", {action: 'delete_activity_comment', id: comment.id}, {class: 'am-btn am-btn-danger am-radius am-btn-xs'} %>
               <% end %>
            </div>
          </div>
        </div>
    </div>
      <%end%>
    <%end%>
    
       <!-- 没有评论提醒 -->
  <% if @activity_comments.empty? %>
    <div class="am-g">
        <div class="am-u-sm-12 am-u-lg-12" align="center" style="font-size:1.5rem;">
          还没有人评论，赶紧去评论吧！
          <br>
         
        </div>
      </div>
  <% end%>
  
  <!-- 评论分页 -->


<%= render :partial => "shared/pagination",
:locals => { :total_page => @total_page,
             :page_num => @page_num,
             :pre_url => "/activity_comments?id=#{ @activity.id}",
             :tips => '' } %>
  
    
   </div>
   

   
   
</div>





<div class="am-panel am-panel-default" style="border:0;">
    <div class="am-panel-bd">
        
        <div class="am-g" >
        <div class="am-u-sm-12 am-u-lg-12" align="center">
         
          <button type="button" 
                 class="am-btn am-btn-primary am-radius am-btn-sm am-btn-block"
                 onclick="goto('/to_activity_comment?post_id=<%= @activity.id%>&to_user_id=<%=@activity.user.id%>&reply=0')">
             <span class="am-icon-comment-o" ></span>
            &nbsp;
             评&nbsp;&nbsp;&nbsp;论
            </button>
           
        </div>
        <br><br>
        <div class="am-u-sm-12 am-u-lg-12" align="center">
         
          <button type="button" 
                 class="am-btn am-btn-primary am-radius am-btn-sm am-btn-block"
                 onclick="goto('/apply_activity?activity_id=<%= @activity.id%>')">
             <span class="am-icon-paper-plane" ></span>&nbsp;
             报&nbsp;&nbsp;&nbsp;名
            </button>
           
        </div>
        
      </div>
    </div>
</div>




<script>
  

  function like(id,post_id,user_id){
    //show_alert(Number(obj.innerHTML));
    //var num = obj.innerHTML.replace(/&nbsp;/g,"") ;
    //show_alert(num);
    //obj.innerHTML = "&nbsp;&nbsp;"+ (Number(num)+1)
    //obj.addClass('animated bounceOutLeft');
    //obj.className = obj.className + "animated infinite bounceIn liked";
    $.ajax({
      method: "POST",
      url: "like",
      data: {postid: post_id, to_user_id: user_id}
      })
      .done(function( msg ) {
        //show_alert(msg);
        if(msg == 'no_login'){
            show_alert("请登录后再操作");
            window.location.href = "/login";
        }else{
          var num = $('#'+id).html().replace(/&nbsp;/g,"") ;
          $('#'+id).html("&nbsp;&nbsp;"+ (Number(num)+1));
          //show_alert($('#'+id).html());
          $('#'+id).addClass(' animated bounceIn liked').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
            $(this).removeClass('animated bounceIn');
          });
          $('#'+id).attr("onclick","unlike('"+id+"','"+post_id+"','"+user_id+"');");
        }
      });
  }
  
  function unlike(id,post_id,user_id){
    //show_alert(Number(obj.innerHTML));
    //var num = obj.innerHTML.replace(/&nbsp;/g,"") ;
    //show_alert(num);
    //obj.innerHTML = "&nbsp;&nbsp;"+ (Number(num)+1)
    //obj.addClass('animated bounceOutLeft');
    //obj.className = obj.className + "animated infinite bounceIn liked";
    $.ajax({
      method: "POST",
      url: "unlike",
      data: { postid: post_id,to_user_id: user_id}
      })
      .done(function( msg ) {
        //show_alert(msg);
        if(msg == 'no_login'){
            show_alert("请登录后再操作");
            window.location.href = "/login";
        }else{
          var num = $('#'+id).html().replace(/&nbsp;/g,"") ;
          $('#'+id).html("&nbsp;&nbsp;"+ (Number(num)-1));
          //show_alert($('#'+id).html());
          $('#'+id).addClass(' animated bounceIn liked').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
            $(this).removeClass('animated bounceIn liked');
          });
          $('#'+id).attr("onclick","like('"+id+"','"+post_id+"','"+user_id+"');");
        }
      });
  }
</script> 

<script>
  $('.ui.accordion')
  .accordion()
  ;
</script>