<div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">内容发布</strong> / <small>官方频道</small></div>
    </div>
<div class="am-panel am-panel-default">
  <%#= form_for(@user) do |f| %>


  <div class="am-panel-bd">
    <div class="am-g">
      <div class="am-u-lg-12 am-u-md-12 am-u-sm-centered">
      <h2>发布频道</h2>
      <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />
    </div>
    </div>
<%= form_for(@channel_class, html: { id: 'add_channel_form',multipart: true }, :class => 'am-form') do |f| %>
  <% if @channel_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@channel_class.errors.count, "error") %> prohibited this channel from being saved:</h2>

      <ul>
      <% @channel_class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              标题
            </div>
            <div class="am-u-sm-8 am-u-md-4">
              <!--<input type="text" class="am-form-field">-->
              <%= f.text_field :title, :class => 'am-form-field'%>
            </div>
            <div class="am-hide-sm-only am-u-md-6">*必填</div>
          </div>

          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              简介
            </div>
            <div class="am-u-sm-8 am-u-md-8 am-u-end col-end">
              <!--<input type="text" class="am-form-field">-->
              <%#= f.text_field :intro, :class => 'am-form-field'%>
              <!--<textarea rows="5" name="channel[intro]" id="channel_intro"></textarea>-->
              <%= f.text_area :intro,:rows => 8, :class => 'am-form-field'%>
            </div>
          </div>
 
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              封面图片
            </div>
            <div class="am-u-sm-8 am-u-md-8 am-text-left" align="left">
              <!--<input type="text" class="am-form-field">-->
               <%#= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png'  %>
               <div class="am-form-group am-form-file">
                  <button type="button" class="am-btn am-btn-danger am-btn-sm">
                    <i class="am-icon-cloud-upload"></i> 选择要上传的文件</button>
                  <input id="channel_class_picture" type="file" name="channel_class[picture]"  accept="image/*">
                </div>
            </div>
            <!--<div class="am-hide-sm-only am-u-md-6">必填</div>-->
          </div>

         
      <br>
    <div class="am-g" align="center">
        <div class="am-u-sm-6 am-u-lg-6">
         <button type="button" name="newgroup" class="am-btn am-btn-primary am-btn-block am-radius"  width="70%"   onclick="return validate();" >
      发布
      </button>
        </div>
        <div class="am-u-sm-6 am-u-lg-6">
         <button type="button" name="newgroup" class="am-btn am-btn-primary am-btn-block am-radius"  width="70%"   onclick="goto('/channel_classes')" >
      取消
      </button>
        </div>
      </div>
    
<% end %>
</div>
</div>
<script>
  function validate() {
    // alert('11');
     var title = $('#channel_class_title').val().replace(/^\s+|\s+$/g, '');
     var intro = $('#channel_class_intro').val().replace(/^\s+|\s+$/g, '');
      var picture = $('#channel_class_picture').val();
      // var content = $('#channel_content').html();
      // var content = my_editor.html();
       //alert(content);
        if(title == ''){
          show_alert("请填写标题");
          return false;
        }else if(intro==''){
          show_alert("请填写简介");
          return false;
        }else if('<%=@url_path%>'.indexOf('edit') < 0 &&  picture==''){
          show_alert("请选择封面图片");
          return false;
        }else{
          
           document.getElementById("add_channel_form").submit();
          //return true;
        }
       
     
  }
  
</script>