
<!DOCTYPE html>
<html>
<head>
<title>澎湃新闻</title>

<%#= stylesheet_link_tag  "bootstrap" %>
<%= stylesheet_link_tag  "style" %>
<%= stylesheet_link_tag  "custom" %>
<!-- Custom Theme files -->
<%= javascript_include_tag "jquery.min.js" %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Konstructs Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>

<%= render 'layouts/header' %>
  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <% end %>
   <%= yield %>
<%= render 'layouts/footer' %>

<script>
  function goto(url){
		window.location.href = url;
  }
</script>
</body>
</html>